<!DOCTYPE html>
<html>
<head>
  <title>sobreˆvoar | Imagens Aéreas</title>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- This site is optimized with the Yoast WordPress SEO plugin v2.0.1 - https://yoast.com/wordpress/plugins/seo/ -->
<title>sobreˆvoar | Imagens Aéreas</title>
<meta name="description" content="Imagens aéreas. Balneario Camboriú."/>
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="sobrevoar | Imagens aéreas." />
<meta property="og:description" content="Imagens aéreas. Balneario Camboriú." />
<meta property="og:url" content="http://sobrevoar.me/" />
<meta property="og:site_name" content="sobrevoar | Imagens Aéreas<" />

<!-- / Yoast WordPress SEO plugin. -->

<script type='text/javascript' src='/assets/jquery-1.11.1.js'></script>
<script type='text/javascript' src='/assets/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/assets/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='/assets/modernizr-2.6.2.min.js'></script>
<script type='text/javascript' src='/assets/bootstrap.min.js'></script>

</head>
<body class="home page page-id-4 page-template-default fade">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="hfeed site">
    <%= yield %>
</div>

</body>

<script type='text/javascript' src='/assets/ie.js'></script>
<script type='text/javascript' src='/assets/analytics.js'></script>
<script type='text/javascript' src='/assets/plugins.js'></script>
<script type='text/javascript' src='/assets/main.js'></script>
</html>
